#trivia {
    display: none
}

#end {
    display: none
}

.bg-gauntlet {
    background-color: #ababdd;
}

.result {
    margin-bottom: 1rem;
}

.bg-space {
    background-color: #202020;
    background: #202020 url("../images/bg-titan.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gauntletWrapper {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.img-stone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.result-alert {
    margin-bottom: 0;
    padding: 0 1.25rem;
}

.start-btn {
    color: #ababdd;
    border-color: #ababdd;
}

.start-btn:not(:disabled):not(.disabled).active, .start-btn:not(:disabled):not(.disabled):active, .show>.start-btn.dropdown-toggle, .start-btn:hover {
    background-color: #ababdd;
    border-color: #ababdd;
}